h1 {
    color: #1B1520
}

/* bello */

h5{
    color: #F8F3DE
}

h6{
    color: #F8F3DE
}
/* Center the content on the page */
.home-container {
    margin-top: 50px;
    text-align: center;
  }
  
  .gobbler-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  /* Main Grid Layout */
  .main-grid {
    padding: 0 40px;
  }
  
  /* Section titles for each half */
  .section-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
  }
  
  /* Card Styling */
  .player-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
/* Add to your existing CSS */
.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #3A2B32;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  word-wrap: break-word;
}

.player-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure content fits within the card */
}

.player-info {
  text-align: center;
  width: 100%; /* Ensure text does not overflow */
}

.player-avatar {
  margin-bottom: 10px;
}

.typography-overflow {
  font-size: 0.875rem; /* Smaller font size for player ID */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; /* Limit width to prevent overflow */
}

  .champion-image {
    width: 500px; /* Adjust size as needed */
    height: auto;
  }
  